
body {
	font-family: Georgia;
	font-size: 13px;
}
* {
	margin:0;
	padding:0;
}
a {
	color: #89C401;
	text-decoration: none;
}
a:hover {
    color: #458000;
	text-decoration: underline;
}
.display-table{
	display: table;
	width: 100%;
}