
body {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
	color: #693E34;
}
button{
	border: none;
	border-bottom: 1px solid #693E34;
	background-color: #EADAAE;
	font-weight: bold;
	padding: 3px 5px;
	font-size: 11px;
	font-family: 'Helvetica Neue',Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
	color: #693E34;
}
input,
textarea{
	border: 1px solid #EADAAE;
	resize: none;
	color: #693E34;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
#main-container{
    margin: 0 auto;
	text-align: left;
}
#top{
	background-image: url('../images/top_back.jpg');
    height: 25px;
}
.container{
	max-width: 1078px;
	min-width: 950px;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	display: table;
}
.container-left{
	width: auto;
	display: table-cell;
	vertical-align: top;
}
.container-right{
	width: 308px;
	display: table-cell;
	vertical-align: top;
}

#middle .container-left{
	background-image: url('../images/page-left-back.jpg');
	background-repeat: repeat-y;
}
#middle .container-right{
	background-image: url('../images/page-right-back.jpg');
}

/* ------------------ start language switch ---------------------- */
.language-switch .module_mod_language_switch{
	float: left;
}
.language-switch ul{
	list-style: none;
	margin: 4px 0 0 4px;;
	overflow: auto;
}
.language-switch ul li{
	display: block;
	float: left;
	margin-right: 5px;
}
.language-switch ul li img{
	display: block;
}
/* ------------------ end language switch ------------------------ */


/* ------------------ start top menu ----------------------------- */
.top-menu{
    height: 25px;
	background-image: url('../images/general_menu_back.jpg');
    background-repeat: no-repeat;
}
.top-menu ul{
	list-style: none;
	text-align: center;
	display: table;
	width: 100%;
}
.top-menu ul li{
	background-image: url('../images/mainmenu_back.jpg');
	border-right: 2px solid #EADAAE;
	display: table-cell;
}
.top-menu ul li.last{
	border-right: none;
}
.top-menu ul li a{
    color: #693E34;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
	display: block;
	height: 18px;
	padding-top: 7px;
}
.top-menu ul li a:hover {
    background-image: url('../images/mainmenu_over.jpg');
}
/* ------------------ end top menu ------------------------------- */


/* ------------------ start main menu ---------------------------- */
.main-menu ul{
	list-style: none;
	text-align: center;
	height: 25px;
	display: table;
	width: 100%;
	border-bottom: 1px solid #EADAAE;
}
.main-menu ul li{
	background-image: url('../images/general_menu_normal.jpg');
	border-right: 2px solid #EADAAE;
	display: table-cell;
}
.main-menu ul li.first{
	border-left: 1px solid #EADAAE;
}
.main-menu ul li.last{
	border-right: 0px solid #EADAAE;
}
.main-menu ul li a{
    color: #693E34;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
	display: block;
	height: 18px;
	padding-top: 7px;
}
.main-menu ul li.current a,
.main-menu ul li a:hover {
    background-image: url("../images/general_menu_back.jpg");
	background-position: center;
}
/* ------------------ end main menu ------------------------------ */


/* ------------------ start breadcrumb --------------------------- */
.module_mod_breadcrumb ul{
	list-style: none;
	overflow: auto;
	padding: 4px;
	background-color: #FBF7EB;
	margin-left: 4px;
}
.module_mod_breadcrumb ul li{
	float: left;
	padding: 0 2px;
	font-size: 12px;
}
.module_mod_breadcrumb ul li.separator{
	font-size: 18px;
	line-height: 12px;
}
.module_mod_breadcrumb ul li a{
	text-decoration: none;
}
/* ------------------ end breadcrumb ----------------------------- */


/* ------------------ start panoramic image ---------------------- */
.module_mod_image{
	border: 1px solid #EADAAE;
	border-top: none;
	overflow: auto;
}
.module_mod_image img{
	width: 100%;
	float: left;
}
/* ------------------ end panoramic image ------------------------ */


/* ------------------ start content -------------------------------*/
#content{
	margin: 20px;
}
#content h3,
#content h4{
	font-size: 20px;
	margin-bottom: 10px;
}
#content ul,
#content ol{
	margin-left: 20px;
}
#content .article_content{
	overflow: auto;
}
#content .article-first-image{
	border: 1px solid #EADAAE;
	padding: 2px;
	float: left;
	margin: 2px 5px 5px 0;
	width: 250px;
}
#content .article-gallery{
	width: 100%;
	margin: 20px 0;
}
#content .article-gallery ul{
	list-style: none;
	margin: 0 -5px -5px 0;
	overflow: auto;
}
#content .article-gallery ul li{
	display: block;
	float: left;
	width: 20%;
}
#content .article-gallery ul li a{
	margin: 0 5px 5px 0;
	border: 1px solid #EADAAE;
	padding: 2px;
	display: block;
	overflow: auto;
}
#content .article-gallery ul li img{
	max-width: 100%;
	height: auto;
	float: left;
}
#article-map{
	margin: 20px 0;
	height: 300px;
}
#content .like-buttons{
	margin: 20px 0;
	padding: 5px 10px;
	height: 20px;
	text-align: right;
	overflow: auto;
	background-color: #FBF7EB;
}
#content .like-buttons .send-change-request{
	font-size: 12px;
	display: inline-block;
	margin-top: 2px;
}
#content .like-buttons .facebook,
#content .like-buttons .google_plus,
#content .like-buttons .facebook-share{
	display: inline-block;
}
#content .like-buttons .facebook-share{
	border: 1px solid #aaa;
}
.fb-comments, .fb-comments * {
    width:100% !important;
}
#content .comments{
	margin: 20px 0;
}
#content .comments_list{
	margin: 20px 0;
}
#content .comments_list ul{
	list-style: none;
	margin: 0;
}
#content .comments_list ul li{
	padding: 5px 10px;
	overflow: auto;
}
#content .comments_list ul li:nth-child(odd){
	background-color: #FBF7EB;
}
#content .comments_list ul li span{
	display: block;
}
#content .comments_list ul li .name{
	float: left;
	font-weight: bold;
}
#content .comments_list ul li .date{
	float: right;
}
#content .comments_list ul li .comment{
	width: 100%;
	margin-top: 20px;
}
#content .comments_form{
	width: 100%;
}
#content .comments_form .row,
.contactForm .row{
	margin: 5px 0;
}
#content .comments_form .row label,
.contactForm .row label{
	display: block;
	margin-bottom: 2px;
}
#content .comments_form .row input,
.contactForm .row input{
	width: 50%;
	padding: 2px 0;
}
#content .comments_form  .row .captcha_input,
.contactForm .row .captcha_input{
	width: 200px;
}
#content .comments_form .row textarea,
.contactForm  .row textarea{
	width: 100%;	
}
/* ------------------ end content -------------------------------- */


/* ------------------ start articles list ------------------------*/
.category-list{
	margin-top: 20px;
}
.item{
	display: table;
	width: 100%;
	padding-bottom: 15px;
	margin-bottom: 15px;
	background-image: url('../images/item-separator.png');
	background-position: bottom center;
	background-repeat: no-repeat;
}
.item:last-child{
	padding: 0;
	margin: 0;
	background: none;
}
.item-image{
	display: table-cell;
	vertical-align: top;
	border: 1px solid #EADAAE;
	padding: 2px;
	width: 150px;
	text-align: center;
}
.item-image img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.item-content{
	display: table-cell;
	vertical-align: top;
	padding-left: 15px;
}
.item-content .item-title{
	font-size: 16px;
	margin-bottom: 5px;
}
/* ------------------ end articles list --------------------------*/


/* ------------------ start right content box -------------------- */
.right-box{
	margin-bottom: 5px;
	overflow: auto;
}
.right-box-top{
	background-image: url('../images/right-box-top.jpg');
	background-position: top left;
    height: 4px;
}
.right-box-middle{
	background-image: url('../images/right-box-middle.jpg');
    background-repeat: repeat-y;
    overflow-x: hidden;
    overflow-y: auto;
	padding: 0 4px;
}
.right-box-bottom{
	background-image: url('../images/right-box-bottom.jpg');
	background-position: bottom left;
    height: 4px;
}
.right-box .module_title,
.right-box .banner_title,
.right-box .content{
	margin: 10px;
}
.right-box.no-margin .module_title,
.right-box.no-margin .banner_title,
.right-box.no-margin .content{
	margin: 0px;
}
.right-box .article_title{
	margin-bottom: 10px;
}
.right-box h4,
.right-box .article_title{
	font-size: 16px;
}
/* ------------------ end right content box ---------------------- */


/* ------------------ start footer ------------------------------- */
#footer{
	background-image: url('../images/footer_back.jpg');
	background-repeat: repeat-x;
	background-color: #88C400;
    min-height: 160px;
	color: #ffffff;
	padding: 20px 0;
}
#footer a{
	color: #ffffff;
}
#footer .container-left .module{
	width: 33%;
	display: table-cell;
	vertical-align: top;
	border-right: 1px solid #ffffff;
}
#footer .container-left .module h4{
	margin: 0 20px 10px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
	color: #693E34;
}
#footer .container-left .module .content{
	margin: 0 20px 20px 20px;
}
#footer .container-left ul{
	list-style: none;
}
#footer .container-left ul li{
	padding: 2px;
}
#footer .container-left ul li a{
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
}
#footer .container-right span{
	display: block;
	margin: 0 20px;
}
/* ------------------ end footer --------------------------------- */